workflows/05-inactive-user-email-mysql/workflow.json
{
  "name": "workflow-5",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -208,
        -32
      ],
      "id": "f1138d24-2251-4122-968f-b1bd254cc700",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, email, name FROM users\nWHERE last_login < DATE_SUB(NOW(), INTERVAL 90 DAY)\nAND status = 'active'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        0,
        -32
      ],
      "id": "4fcc02be-d78d-4a75-99fc-13a198089dfd",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "eb31c7c1-c5c8-4058-b1d7-cfec442c7ebf",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        -32
      ],
      "id": "a914cecb-8309-4c43-a801-13b0df958270",
      "name": "If"
    },
    {
      "parameters": {
        "fromEmail": "",
        "toEmail": "={{ $json.email }}",
        "subject": "We miss you!",
        "emailFormat": "text",
        "text": "=Hi {{ $json.name }}, we noticed you haven't logged in for a while. Come\nback!",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        416,
        -48
      ],
      "id": "523ffbe0-351f-4c17-acee-ab4d6681b0e4",
      "name": "Send an Email",
      "webhookId": "",
      "credentials": {
        "smtp": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users SET status = 'notified' \nWHERE id = {{ $('Execute a SQL query').item.json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        624,
        -32
      ],
      "id": "7b6eb610-261f-4acb-bafb-97d9b8ff2661",
      "name": "Execute a SQL query1",
      "credentials": {
        "mySql": {
          "id": "",
          "name": ""
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an Email": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6902c019-d0bc-4ea5-b9ff-af633ce9efd9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "zLFWv2K0ydCls4w3",
  "tags": []
}
