workflows/04-weather-api-google-sheets/rest-Api.json
{
  "name": "rest-API",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtMinute": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "9863c14a-38d8-445a-9e80-2c2443dbeb54",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather?q=Islamabad&appid=YOUR_API_KEY",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        48
      ],
      "id": "bb24c543-4771-4d47-9afb-184f5e84395c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d326f07c-d1fb-406d-8a2a-fd3c932346b2",
              "name": "city",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "2579e9a3-5bf0-4607-af00-d8f4ecc184ea",
              "name": "temp",
              "value": "={{ $json.main.temp }}",
              "type": "string"
            },
            {
              "id": "41d4676d-ee04-4ec5-bbe2-6d2531fc9263",
              "name": "weather",
              "value": "={{ $json.weather[0].description }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        48
      ],
      "id": "2acf9e35-e92b-447b-b2f7-fca751a25f33",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "city": "={{ $json.city }}",
            "temp": "={{ $json.temp }}",
            "weather": "={{ $json.weather }}",
            "timestamp": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "temp",
              "displayName": "temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "weather",
              "displayName": "weather",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        688,
        48
      ],
      "id": "4a7721ea-d2d1-4f28-afc9-10342dd83e51",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "651cba17-9688-488b-8a40-73a5327776aa",
  "id": "vb5eruq95mkNHNbX",
  "tags": []
}
